.FavoritePost {
	width: 1900px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

.FavoritePostTitle p {
	font-size: 50px;
	font-weight: 600;
	width: 400px;
	margin-left: calc((100% - 250px) / 2);
	margin-right: calc((100% - 250px) / 2);
	padding-top: 30px;
}

.postcount p {
	width: 500px;
	margin-left: calc((100% - 250px) / 5 * 4);
	margin-right: calc((100% - 250px) / 5);
	font-size: 20px;
}

.postcount p b {
	color: #CD6A80;
	font-size: 25px;
}

.FavoritePostCards {
	width: 1740px;
	margin-left: auto;
	margin-right: auto;
}

.FavoritePostCard {
	margin-bottom: 50px;
	margin-left: calc((100% - 250px) / 4);
	margin-right: calc((100% - 250px) / 2);
	width: 1200px;
	height: 120px;
	text-decoration: none;
	cursor: pointer;
}

.FavoritePostCard img {
	width: 200px !important;
	object-fit: cover;
	border-radius: 4px;
}

.FavoritePostCard-body {
	text-decoration: none;
	line-height: 20px;
	padding: 15px;
}

.FavoritePostCard .FavoritePostCard-title {
	float: left;
	font-size: 20px;
	font-weight: 600;
	max-width: 900px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.FavoritePostCard .FavoritePostCard-comment {
	float: left;
	font-size: 20px;
}

.FavoritePostCard .FavoritePostCard-text {
	font-size: 15px;
	width: 350px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.FavoritePostCard .FavoritePostCard-date {
	font-size: 15px;
	margin-bottom: -10px;
}

.FavoritePostCard:hover,
.FavoritePostCard-title:hover,
.FavoritePostCard-body:hover,
.FavoritePostCard-date:hover {
	color: black;
}

.FavoritePost .pagination {
	margin-left: auto;
	padding-left: 1000px;
	margin-right: auto;
	align-items: center;
}

.FavoritePost .pagination .page-link {
	color: #CD6A80 !important;
	background-color: white !important;
	font-weight: 600;
	font-size: 17px;
	cursor: pointer;
}

.FavoritePost .pagination .active .page-link {
	color: white !important;
	background-color: #CD6A80 !important;
	border: 1px solid white;
}