.compass {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.compass h2 {
	text-align: center;
	margin-bottom: 50px;
}

.compass .toast.show {
	min-width: 850px;
}

.compass .toast .toast-header .btn-close {
	display: none;
}

.compass .toast .toast-header {
	margin: 20px;
}

.compass .toast .toast_title {
	font-size: 18px;
}

.compass .toast .rounded-pill {
	background-color: #249D8C !important;
}

.compass .toast .toast-body {
	font-size: 20px;
	width: 800px;
	padding: 0 15px;
	text-align: center;
	align-items: center;
}

.compass .toast .toast-body a {
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
	line-height: 35px;
	color: #36454F;
}

.compass .toast .toast-body a:hover {
	color: #249D8C;
	font-weight: 600;
}

.calumn {
   width: 1400px;
   margin-top: 20px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
}

.news {
	width: 600px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
}

.news .NewsTitle {
   font-size: 35px;
   font-weight: 600;
}

.pro {
	width: 600px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline-block;
}
.pro .ProTitle {
	font-size: 35px;
	font-weight: 600;
}

.news .NewsDetail,
.pro .ProDetail {
	float: right;
	font-size: 22px;
	text-decoration: none;
	color: black;
	margin-bottom: 50px;
}

.NewsDetail:hover,
.ProDetail:hover {
	color: #0089BA;
	font-weight: 600;
}

.calumn .MainCalumnCard {
	margin-bottom: 50px;
	width: 600px;
	text-decoration: none;
}

.calumn .MainCalumnCard img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}

.calumn .MainCalumnCard-body {
	text-decoration: none;
	padding: 15px;
}

.calumn .MainCalumnCard .MainCalumnCard-title {
	font-size: 25px;
	font-weight: 600;
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.calumn .MainCalumnCard .MainCalumnCard-text {
	font-size: 18px;
	width: 350px;
	word-wrap: break-word;
	text-align: left;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	word-wrap: break-word;
	display: -webkit-box;
}

.calumn .MainCalumnCard .MainCalumnCard-date {
	font-size: 15px;
	margin-bottom: -10px;
}

.MainCalumnCard:hover,
.MainCalumnCard-title:hover,
.MainCalumnCard-body:hover,
.MainCalumnCard-date:hover {
	color: black;
}

@media (max-width:1400px){
	.calumn {
		 width: 700px;
	}

	.calumn .MainCalumnCard {
		margin-bottom: 50px;
		width: 600px;
		text-decoration: none;
	}
}

@media (max-width:700px){
	.calumn {
		width: 350px;	 
	}

	.calumn .news .NewsDetail, .calumn .pro .ProDetail{
		display: none;
	}

	.calumn .MainCalumnCard {
		margin-bottom: 50px;
		width: 250px;
		text-decoration: none;
		display: block;
	}
	
	.calumn .MainCalumnCard img {
		width: 250px;
		height: 250px;
		object-fit: cover;
		border-radius: 4px;
		border-right: 1px solid #dfdfdf;
	}
	
	.calumn .MainCalumnCard-body {
		display: none;
	}
}