.Login_1 {
	display: flex;
}

.social {
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 550px;
}

.mb-3.input-group {
	margin-right: 20px;
}

.eye_1 {
	margin-top: 10px;
}

.container_2 button{
	border: none;
	background-color: transparent;
}

.container_2 .socialimg{
	width: 30px;
	height: 30px;
}

.container_2 .socialimg_google{
	width: 55px;
	height: 30px;
}