.Place_Sidebar{
	width: 250px;
}

.PlaceCheckBox {
	width: 1750px;
	margin-left: 300px;
	height: 300px;
	border-bottom: 1px solid black;
}

.RestaurantList {
	clear:both;
	width: 1900px;
	margin-bottom: 100px;
	left: 0;
}

.PlaceListCards {
	width: calc(100% - 350px);
	margin-left: 350px;
	margin-top: 50px;
	overflow-x: hidden;
}

.RestaurantList .PlaceListCard {
	float: left;
	margin-bottom: 50px;
	margin-right: 60px;
	width: 700px;
	height: 202px;
	text-decoration: none;
}

.RestaurantList .PlaceListCard img {
	width: 200px !important;
	height: 200px !important;
	object-fit: cover;
	border-radius: 4px;
}

.RestaurantList .PlaceListCard-body {
	text-decoration: none;
	padding: 10px;
}

.RestaurantList .PlaceListCard .PlaceListCard-title {
	float: left;
	font-size: 25px;
	font-weight: 600;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.RestaurantList .PlaceListCard .PlaceListCard-score {
	float: left;
	margin-left: 15px;
	color: #249D8C;
	font-size: 25px;
	font-weight: 600;
}

.RestaurantList .PlaceListCard .PlaceListCard-location {
	float: left;
	font-size: 15px;
	width: 450px;
}

.RestaurantList .PlaceListCard .PlaceListCard-info {
	float: left;
	font-size: 15px;
	width: 450px;
}

.PlaceListCard:hover,
.PlaceListCard-title:hover,
.PlaceListCard-body:hover,
.PlaceListCard-date:hover {
	color: black;
}

.RestaurantList .pagination {
	margin-left: auto;
	padding-left: 950px;
	margin-right: auto;
	align-items: center;
}

.RestaurantList .pagination .page-link {
	color: #249D8C !important;
	background-color: white !important;
	font-weight: 600;
	font-size: 17px;
	cursor: pointer;
}

.RestaurantList .pagination .active .page-link {
	color: white !important;
	background-color: #249D8C !important;
	border: 1px solid white;
}