.PlaceCheckBox{
    width: calc(100% - 250px);
    margin-left:250px;
    height: 300px;
    background-color: red;
    border-bottom: 1px solid black;
}

.RestaurantList{
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.PlaceListCards{
    width: calc(100% - 350px);
    margin-left: 350px;
    margin-top: 50px;
    overflow-x: hidden;
}

.RestaurantList .PlaceListCard{
    float: left;
    margin-bottom: 50px;
    margin-right: 60px;
    width: 700px;
    height: 202px;
    text-decoration: none;
}

.RestaurantList .PlaceListCard img{
    width: 200px;
	height: 200px;
	object-fit: cover;
    border-radius: 4px;
}

.RestaurantList .PlaceListCard-body{
    text-decoration: none;
    padding: 10px;
}

.RestaurantList .PlaceListCard .PlaceListCard-title{
    float: left;
    font-size: 25px;
    font-weight: 600;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.RestaurantList .PlaceListCard .PlaceListCard-score{
    float: left;
    margin-left: 15px;
    color: #249D8C;
    font-size: 25px;
    font-weight: 600;
}

.RestaurantList .PlaceListCard .PlaceListCard-location{
    float: left;
    font-size: 15px;
    width: 450px;
}

.RestaurantList .PlaceListCard .PlaceListCard-info{
    float: left;
    font-size: 15px;
    width: 450px;
}

.PlaceListCard:hover, .PlaceListCard-title:hover, .PlaceListCard-body:hover, .PlaceListCard-date:hover{
    color: black;
}