.radio_1 {
	padding: 6px;
	padding-left: 30px;
}

.consent_1 {
	/* overflow: hidden; */
	margin: 10px 10px 10px 10px;
}

div.left_1 {
	float: left;
	/* background-color: lightblue; */
}

.right_1 {
	float: right;
	/* background-color: lightcoral; */
}

.redtext {
	color: red;
}

.consent_2 {
	/* overflow: hidden; */
	margin: 10px 10px 10px 10px;
}

div.left_2 {
	float: left;
	/* background-color: lightblue; */
}

.right_2 {
	float: right;
	/* background-color: lightcoral; */
}

.date_1 {
	/* width: 461px; */
	border-radius: 4px;
	border: 1px solid gainsboro;
}

.input_1 {
	display: flex;
}


/* 인풋 input 가로 */
.mb-3.input-group {
	width: 550px;
}

.date_1 {
	width: 460px;
	padding-left: 100px;
}

.email_1 {
	width: 550px;
}

.email_2 {
	display: flex;
}

.emailbtn {
	white-space: nowrap;
	height: 38px;
	margin-left: 20px;
}

.msgAlert {
	width: 550px;
}

.ppppp {
	font-size: 50px;
	font-weight: 600;
}

.memType {
	height: 38px;
	display: flex;
}