.postcomment .comment_detail_count {
  font-size: 25px;
  font-weight: 600;
   margin-left: 100px;
}

.postcomment .comment_box{
   margin-left: 200px;
   margin-bottom: 50px;
}

.postcomment .comment_box .comment_content {
   margin-top: 10px;
   padding: 10px;
   width: 1000px;
   height: 80px;
  resize: none !important;
}

.postcomment .comment_box .comment_button {
   margin-left: 20px;
}