.comment_edit_box{
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6C757D;
}

.comment_edit_box p{
  width: 1000px;
  word-break:break-all;
}

.comment_edit_box input {
  width: 1000px;
  height: 50px;
  margin-bottom: 15px;
  overflow: scroll;
  word-break:break-all;
}

.editbutton{
  border: 0;
  border-radius: 5px;
  background-color: #0D6FED;
  color: white;
  padding: 3px 5px;
}

.deletebutton{
  border: 0;
  border-radius: 5px;
  background-color: #DC3545;
  color: white;
  margin-left: 15px;
  padding: 3px 5px;
}