.container {
	padding-left: 0 !important;
}

.CommunitySidebar {
	float: left;
	height: 100vh;
	min-height: 650px;
	width: 250px;
	transition: all 0.5s;
	border-right: 1px solid black;
	position: fixed;
}

.CommunitySidebar h2 {
	text-align: center;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 50px;
}

.CommunitySidebarMenu {
	text-align: center;
	display: flex;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 50px;
	transition: all 0.5s;
	text-decoration: none;
	color: black;
}

.CommunitySidebarMenu:hover {
	background: #F9D367;
	color: white;
	transition: all 0.5s;
	text-decoration: none;
}

.active {
	background: #F9D367;
	color: white;
	font-weight: 600;
}

.CommunitySidebarMenu .svg-inline--fa {
	margin-right: 10px;
	font-size: 25px;
	margin-top: 5px;
}