.container{
    padding-left: 0 !important;
}

.sidebar{
    float: left;
    height: 100%;
    min-height: 650px;
    width: 250px;
    transition: all 0.5s;
    border-right: 1px solid black;
    position: fixed;
}

.sidebar h2{
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.link{
    text-align: center;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}

.link:hover{
    background: #F4C84B;
    color: white;
    transition: all 0.5s;
}

.active{
    background: #F4C84B;
    color: white;
    font-weight: 600;
}

.icon, .link_text{
    font-size: 20px;
}