<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Dogether</title>
	<!-- include header -->
</head>

<body>
	<!-- include Global Navigation Bar -->

	<!-- Side Bar -->
	<div class="mylist">
		<h2>마이 페이지</h2>
		<div class="list">
			<a th:href="@{/user/changeInfo}">
				<h4 class="active">내 정보 수정</h4>
			</a>
			<a th:href="@{/user/changePw}">
				<h4>비밀번호 변경</h4>
			</a>
			<a th:href="@{/Dogether/favoritePlace/favorite_place}">
				<h4>관심 장소 모아보기</h4>
			</a>
			<a th:href="@{/Dogether/favoritePost/favorite_post}">
				<h4>관심 글 모아보기</h4>
			</a>
			<a th:href="@{/Dogether/myHistory/my_history}">
				<h4>활동 내역</h4>
			</a>
		</div>
	</div>


	<h2>내 정보 조회</h2>
	<table border="1">
		<tr>
			<td>닉네임</td>
			<td th:text="${user_nickname}"></td>
		</tr>
		<tr>
			<td>이메일</td>
			<td th:text="${user_email}"></td>
		</tr>
		<tr>
			<td>아이디</td>
			<td th:text="${user_id}"></td>
		</tr>
		<tr>
			<td>이름</td>
			<td th:text="${user_name}"></td>
		</tr>
		<tr>
			<td>생년월일</td>
			<td th:text="${#dates.format(user_birthday, 'yyyy-MM-dd')}"></td>
		</tr>
		<tr>
			<td>성별</td>
			<td th:text="${user_gender}"></td>
		</tr>
		<tr>
			<td>회원 종류</td>
			<td th:text="${role}"></td>
		</tr>
	</table>
	<hr>
	<input type="button" value="메인으로" th:onclick="'window.location.href=\'' + @{/} + '\''"> 
	<input type="button" value="회원탈퇴" th:onclick="'window.location.href=\'' + @{/user/resign} + '\''">
</body>

</html>