<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dogether</title>
    <!-- header.jsp와 동등한 Thymeleaf 헤더를 include -->
    <link rel="stylesheet" href="changePw.css">
</head>
<body>
    <!-- Global Navigation Bar -->
    <!-- globalNavigationBar.jsp와 동등한 Thymeleaf 네비게이션 바를 include -->

    <!-- Side Bar -->
    <div class="mylist">
        <h2>마이 페이지</h2>
        <div class="list">
            <a href="/Dogether/user/view/myInfo"><h4>내 정보 수정</h4></a>
            <a href="/Dogether/user/view/changePw"><h4 class="active">비밀번호 변경</h4></a>
            <a href="/Dogether/favoritePlace/favorite_place"><h4>관심 장소 모아보기</h4></a>
            <a href="/Dogether/favoritePost/favorite_post"><h4>관심 글 모아보기</h4></a>
            <a href="/Dogether/myHistory/my_history"><h4>활동 내역</h4></a>
        </div>
    </div>

    <h2>비밀번호 변경</h2>
    <form action="/user/changePassword" method="post">
        현재 비밀번호 :
        <input type="password" name="current_pw">
        <br> <br> 변경할 비밀번호 :
        <input type="password" name="new_pw">
        <br> <br> 변경할 비밀번호 확인 :
        <input type="password" name="new_pwConfirm">
        <br> <br>
        <input type="submit" value="변경">
    </form>
    <hr>
    <input type="button" value="취소" onclick="location.href='/Dogether'">
</body>
</html>
